	body { background: black;}
		
		main {
        width:1000px;
		margin: auto;
	}
		
h1
{	font-size: 80px;
	 color: white;}
			
h2
{font-size: 50px;
	color: white;}

h3
{
	color: white;
	font-size: 30px;
}
div
{ color:white;}